
h1{
    color: black;
    padding: 10px;
    margin-top: 50px;
}
body{
    background-color: white;
}
.one{
    border: 2px solid black;
    border-radius: 5px;
}
.one h1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.one p{
    text-align: justify;
    padding: 30px;
    margin-left: 40%;
}
.one img{
    float: left;
    height: 240px;
    width: 240px;
    border-radius: 20px;
}
.two{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.two h3{
    display: flex;
    flex-direction: row;
    justify-content: left;

}
.two p{
    text-align: justify;
    padding: 30px;
}
.two img{
    float: right;
    height: 120px;
    width: 120px;
}
.three{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.three h3{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.three p{
    text-align: justify;
    padding: 30px;
}
.three img{
    float: left;
    height: 200px;
    width: 200px;
}
.imglogo{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
