.onecard{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 20px;
    padding-bottom: 10px;
    text-align: center;
    transform: 2s;
}
.card:hover{
    transition: scale(1.3);
    background-color: aqua;
}
img{
    width: 100%;
    height: auto;
}
p{
    text-align: center;
    color:black 
}
.sabareesh{
    display: flex;
    flex-direction: row;
}
del{
    text-align: center;
    color: black;
}


