.cointainer{
    margin-left: 30px;
     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.box{
    background-color: #a7aaac;
    display: grid;
}
img{
    width: 100%;
    height: auto;
}
.box{
    width: 200px;
    border-radius: 10px;
    margin: 20px;
    padding-bottom: 10px;
    text-align: center;
    transform: 2s;
}
.box:hover{
    background-color: aquamarine;
}

