.onecard{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 20px;

}
img{
    width: 100%;
    height: auto;
}
p{
    text-align: center;
    color:
}
.sabareesh{
    display: flex;
}