.one{
    background-color: black;
    color:white;
    padding:7px 0;
    text-align: center;
    border-radius: 10px;
}
nav ul{
    list-style-type: none;
    padding: o; 
}
nav ul li{
    color:white;
    display: inline;
    margin: 10px 15px;
}
video{
    border-radius: 10px;
}
a{
    color:white;
}
.two img{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.two h1{
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
