.one{
    background-color: black;
    color:white;
    padding:7px 0;
    text-align: center;
    border-radius: 10px;
}
nav ul{
    list-style-type: none;
    padding: o; 
}
nav ul li{
    color:white;
    display: inline;
    margin: 10px 15px;
}
video{
    border-radius: 10px;
}
a{
    color:white;
}
.two img{
    height: 500px;
    width: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.two h1{
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
button{
    background-color: rgb(235, 17, 141);
    border-radius: 20px;
    border-color: white;
    height: 40px;
    width: 100px;
}
a{
    color: white;
}
.box{
    height: 600px;
    background-image: url(IMAGE/image1.jpg);
    background-size: cover; 
    border-radius: 20px;  
}
.box button{
    margin-top: 500px;
}
.box2{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
}
.box2 img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.h4{
    display: grid;
    color: BlACK;
}
.box3{
    height: 200px;
    width: 1200px;
    background-color: burlywood;
}
.box3 img{
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border-radius: 20px 20px 20px 20px;
}